body{
    font-family: 'Dongle', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'PT Sans Narrow', sans-serif;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    background-color: white;
}
section{
    width: 1100px;
    background-color: whitesmoke;
    margin: auto;
    
}
/*----------------
 top part 
 ----------------*/
.head-part{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-bottom: 30px;
}
.head-detail{
    font-family: poppins;
    width: 582px;
    height: 270px;
    padding-left: 25px;
    display: flex;
    flex-direction: column;
}
.head-detail h1{
    font-weight: 700;
    font-size: 52px;
    line-height: 70px;
    color: #3A3A3A;
}
.head-detail p{
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #3A3A3A;
}
.preebook{
    color: whitesmoke;
    background-color: #E02C6D;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    width: 196px;
    height: 44px;
    padding: 10px 24px;
    border: 0;
    border-radius: 50px;
}
.head-image img{
    width: 440px;
    height: 424px;
    background-image: url(images/image/Circle\ design.svg);

}
/* Logos style */
.logos hr{
    margin: 1px solid gray;
    padding-top: 30px;
}
.logos{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* -----------------------
Popular Collection 
-------------------------*/
.popular-collection{
    width: 1047px;
    height: 1662px;
    background-color: white;
}
.my-products{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
    
}
.popular-collection h2{
    font-family: poppins;
    font-weight: 600;
    font-size: 28px;
    line-height: 70px;
    text-align: center;
}
.product{
    width: 329px;
    height: 476px;
    background-color: whitesmoke;
    border-radius: 5px;
    margin: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.product img{
    display: block;
    margin: auto;
    width: 300px;
    height: 256px;
    padding-top: 10px;
}
.product-name{
    font-family: poppins;
    width: 100;
    height: 25px;
    font-weight: 500;
    font-size: 28px;
    line-height: 20px;
    padding: 10px;
}
.product-price{
    font-family: poppins;
    width: 82px;
    height: 25px;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    padding-left: 10px;
}
.product-ratting{
    font-family: poppins;
    font-size: 10px;
    color: #FB8200;
    width: 100px;
    height: 32px;
    padding: 10px;
}
.product-description{
    font-family: poppins;
    font-size: small;
    color: gray;
    padding-left: 10px;
}
article p{
    font-family: poppins;
    color: #E02C6D;
    text-align: right;
    display:grid ;
}
/*---------------- 
Additional Part 
--------------------*/
.additional{
    width: 1047px;
    height: 270px;
    background-color: whitesmoke;
    margin: auto;
    
}
.our-shop{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-items: stretch;
    padding-bottom: 20px;
}
.shop-img img{
    width: 404px;
    height: 270px;
}
.shop-info{
    font-family: poppins;
}
/* ----------------
footer 
-------------------*/
footer{
    width: 100%;
    height: 200px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}
footer h2, p{
    color: whitesmoke;
}
.soicial-icon{
    color: whitesmoke;
    font-size: 15px;
    height: 10px;
}
..soicial-icon>fab{
    display:block;
}

/* Responsive for Mobile */
@media only screen and (max-width: 600px) {
    body {
        background-color: lightblue;
        width: 100%;
      }
      .head-part{
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
      }
      ..head-detail{
          width: 100%;
          height: 300px;
          justify-content: center;
          flex-direction: column;
          align-items: center;
      }
      .head-image img{
          width: 50%;
          margin-top: auto;
          height: auto;
      }
      .popular-collection{
          width: 100%;
      }
      .my-products{
        width: 100%;
          grid-template-columns: repeat(1, 1fr);
          justify-items: center;
      }
      .additional{
          width: 100%;
          height: fit-content;
      }
      .our-shop{
          
        grid-template-columns: repeat(1, 1fr);
        grid-column: auto;
      }
      .footer{
          justify-content: center;
          align-items: center;
      }
}

/*----------------------- 
Responsive For Tablate 
-------------------------*/
@media only screen and (min-width: 600px ) and (max-width: 1024px){
    ::selection{
        width: 100%;
    }

  .head-part{
      width: 100%;
      display: flex;
      flex-direction: column;
      column-gap: 20px;
      
  }
  .head-detail{
      display: block;
      justify-content: center;
  }
  .popular-collection{
      width: 100%;
  }
  .my-products{

      grid-template-columns: repeat(2, 1fr);
  }
  .additional{
      width: 100%;
      flex-direction: column;
  }
}